In [1]:
import numpy as np
import pandas as pd

path0="/users/dten0001/Google Drive/proj_den/"

# This is my own library which you might not have yet
import automata.xio as xio

pd.options.display.max_rows = 999

In [2]:
# Read in a fasta file and load it into a pandas dataframe
contents = xio.read_fasta(path0+"d1_e_5811_v4.fasta", delimiter="", preview=3)
d0 = pd.DataFrame(data=contents, columns=["header", "seq"])

['01145|Singapore|LakesideDrive|D1GIII_13_EW01|2014', 'ATGCGATGCG...']
['01210|Singapore|BoonLayDrive|D1GIII_13_EW01|2014', 'ATGCGATGCG...']
['01214|Singapore|ChoaChuKangCrecent|D1GIII_13_EW01|2014', 'ATGCGATGCG...']

In [3]:
# add new columns: cdate, country ("geoloc"), and cyear
d0["cdate"] = d0.apply(lambda row: str(row["header"]).split("|")[-1], axis=1)
d0["geoloc"] = d0.apply(lambda row: str(row["header"]).split("|")[1], axis=1)
d0["cyear"] = d0.apply(lambda row: str(row["cdate"])[:4], axis=1)

In [4]:
# Preview the first 5 columns of d0
d0.head()

,header,seq,cdate,geoloc,cyear
0,01145|Singapore|LakesideDrive|D1GIII_13_EW01|2014,ATGCGATGCGTGGGAATAGGCAACAGAGACTTCGTTGAAGGACTGT...,2014,Singapore,2014
1,01210|Singapore|BoonLayDrive|D1GIII_13_EW01|2014,ATGCGATGCGTGGGAATAGGCAACAGAGACTTCGTTGAAGGACTGT...,2014,Singapore,2014
2,01214|Singapore|ChoaChuKangCrecent|D1GIII_13_E...,ATGCGATGCGTGGGAATAGGCAACAGAGACTTCGTTGAAGGACTGT...,2014,Singapore,2014
3,01235|Singapore|LorongSarina|D1GIII_13_EW01|2014,ATGCGATGCGTGGGAATAGGCAACAGAGACTTCGTTGAAGGACTGT...,2014,Singapore,2014
4,01283|Singapore|NoAddress|D1GIII_13_EW01|2014,ATGCGATGCGTGGGAATAGGCAACAGAGACTTCGTTGAAGGACTGT...,2014,Singapore,2014

In [6]:
# Select only the Brunei rows
d1 = d0.loc[d0["geoloc"]=="Brunei"]
d1

,header,seq,cdate,geoloc,cyear
4829,KR919820|Brunei|2014,ATGAGATGCGTTGGAGTGGGGAACAGAGACTTTGTAGAAGGACTTT...,2014,Brunei,2014

In [5]:
# Show the number of records by country and year
d_temp = d0.groupby(["geoloc", "cyear"]).size()
print(d_temp)

geoloc                  cyear
Angola                  2013       6
Argentina               2009      16
                        2010       7
Aruba                   2004       1
Australia               2003       4
                        2008       2
                        2009       1
                        2010       1
                        2012       1
                        2015       1
Bahamas                 1977       1
Bangladesh              2009       1
Barbados                1995       1
                        1999       1
                        2001       2
                        2003       1
Belize                  2005       1
Bhutan                  2013      33
Brazil                  1986       2
                        1988       1
                        1989       1
                        1991       1
                        1994       1
                        1996       2
                        1997       9
                        1998       7
                        1999       5
                        2000      10
                        2001       9
                        2002      10
                        2003       3
                        2004       2
                        2005       2
                        2006       2
                        2007       4
                        2008       4
                        2009      27
                        2010      25
                        2011      23
                        2012       9
                        2013      38
                        2014       3
British_Virgin_Islands  1985       1
Brunei                  2014       1
Cambodia                2000       2
                        2001       7
                        2002       2
                        2003      11
                        2004       2
                        2005       4
                        2006      21
                        2007      38
                        2008      13
                        2009       1
                        2010       4
                        2011       1
                        2013       2
Chile                   2002       1
China                   1995       1
                        1998       1
                        1999       1
                        2001       2
                        2002      13
                        2003       2
                        2004       3
                        2005       2
                        2006      40
                        2007      11
                        2008       1
                        2009       8
                        2010      15
                        2011      21
                        2012      25
                        2013     149
                        2014     376
                        2015      19
Colombia                1998       4
                        1999       1
                        2001       1
                        2005       2
                        2006       4
                        2007       5
                        2008       1
Comoros                 1993       1
Cook_Islands            2002       2
                        2006       1
Costa_Rica              2005       1
                        2007       4
                        2012       1
                        2013      14
                        2014       1
Dominican_Republic      2007       1
East_Timor              2000       2
                        2005       1
                        2008       1
                        2009       1
                        2010       1
                        2014       1
El_Salvador             1993       1
                        2006       1
                        2012       3
Eritrea                 2010       1
Fiji                    2002       2
                        2006       2
                        2011       2
                        2012       3
                        2014       2
France                  2008       1
French_Polynesia        1989       1
                        2001       3
                        2007      48
                        2008      24
                        2009      11
                        2014       1
Germany                 2013       1
Grenada                 1977       5
                        1978       2
                        1981       1
Guyana                  2008       1
Haiti                   2010       6
                        2014       1
Honduras                2008       1
India                   1956       1
                        1962       1
                        1963       5
                        1970       1
                        1971       2
                        1982       2
                        2005       4
                        2006       1
                        2007       1
                        2008       3
                        2009       3
                        2010       9
                        2011       2
                        2012       1
                        2013      12
                        2014       4
                        2015      14
Indonesia               1988       3
                        1998       2
                        2002       3
                        2003       4
                        2004       1
                        2005       4
                        2006       2
                        2007      15
                        2008      27
                        2009      32
                        2010      72
                        2011      12
                        2012      34
                        2013      10
                        2014      23
                        2015      47
Ireland                 2010       1
                        2012       1
Jamaica                 2012       1
Japan                   2003       1
                        2004       1
                        2014      10
Kiribati                2012       2
Laos                    2007       8
                        2008      12
                        2009       6
                        2010      14
                        2011       1
Madagascar              2006       1
Malaysia                2004       3
                        2005       4
                        2006       1
                        2007       1
                        2008       5
                        2009       2
                        2010       5
                        2012       4
                        2013      50
                        2014      37
Maldives                2011       1
Marshall_Islands        2003       1
Martinique              1989       1
                        2008       3
Mexico                  2006      17
                        2007      81
                        2008      21
                        2009       7
                        2010      64
                        2011       6
                        2012      10
Micronesia              2004       3
Myanmar                 2002       3
                        2005       1
                        2007       2
                        2008       3
                        2009       1
                        2011       1
                        2013      28
                        2014       2
                        2015      76
Nepal                   2010      11
New_Caledonia           2001       1
                        2002       6
                        2003       7
                        2004       6
                        2007       2
                        2008       8
                        2009       9
                        2010      10
                        2012      28
                        2013      14
                        2014       4
Nicaragua               2004       6
                        2005      28
                        2006       5
                        2007       1
                        2008       5
                        2009       4
                        2011       4
                        2012      19
                        2014       1
Niue                    2012       2
Palau                   2000       1
Papua_New_Guinea        2000       1
                        2002       1
                        2003       2
                        2009       1
                        2011       1
                        2014       2
Paraguay                1999       1
                        2011      15
Philippines             2002       6
                        2003       1
                        2004       2
                        2005       1
                        2007       1
                        2008       2
                        2010       5
                        2011       1
                        2012       2
                        2013       1
                        2014       4
                        2016       1
Portugal                2012       1
Puerto_Rico             1995       1
                        1996       1
                        1998       4
                        2007       1
                        2010      15
                        2012      23
                        2013       8
Reunion                 2004       8
Russia                  2012       3
Samoa                   2001       4
Saudi_Arabia            2011       1
Seychelles              2004       2
Singapore               2005       2
                        2007       3
                        2008      52
                        2009      14
                        2010      18
                        2011      14
                        2012      21
                        2013     673
                        2014     860
                        2015       2
Singapore_AUS           2013       1
                        2014       2
Singapore_CHN           2013       3
                        2014       3
Singapore_IDN           2013       1
                        2014       4
Singapore_IND           2014       1
Singapore_ITA           2014       1
Singapore_JPN           2014       2
Singapore_LKA           2013       1
Singapore_MAC           2013       1
Singapore_MDV           2014       1
Singapore_MYS           2013       6
                        2014       4
Singapore_PHL           2014       1
Singapore_THA           2013       2
Singapore_THL           2013       1
Singapore_TWN           2013       1
Solomon_Islands         2002       3
Somalia                 2011       5
South_Korea             2004       2
                        2005       6
                        2006       3
                        2007       2
                        2008       2
Sri_Lanka               2004       1
                        2009       5
                        2010       1
                        2013       1
                        2014       2
Suriname                1981       1
Tahiti                  2001       1
Taiwan                  1994       2
                        2008       5
                        2009       1
                        2010       2
                        2011       2
                        2012       1
                        2013       1
                        2014      36
Thailand                1995      14
                        1996       1
                        1997       2
                        1998      15
                        1999       1
                        2000      20
                        2001      34
                        2002      21
                        2003      10
                        2004      11
                        2005       7
                        2006     177
                        2007      38
                        2008      20
                        2009      24
                        2010       8
                        2011       5
                        2012      12
                        2013       8
                        2014       1
                        2015       1
Tonga                   2008       2
Trinidad_and_Tobago     1981       1
USA                     1944       3
                        1986       1
                        1987       2
                        1992       3
                        1993       4
                        1994       2
                        1995       7
                        1996       4
                        1998       8
                        2006       1
                        2009       8
                        2010       9
                        2013       1
                        2014       5
Vanuatu                 2010       1
                        2013       1
Venezuela               1997       3
                        1998       5
                        1999       1
                        2000       3
                        2001       1
                        2004       9
                        2005      11
                        2006      19
                        2007      21
                        2008       3
                        2010       1
                        2011       1
Vietnam                 1998       2
                        1999       1
                        2002       4
                        2003      18
                        2004      14
                        2005      18
                        2006     192
                        2007     345
                        2008     335
                        2009      74
                        2010      19
                        2011       1
                        2012      10
                        2014       3
Virgin_Islands          1987       1
Wallis_and_Futuna       2003       1
dtype: int64

In [ ]:
# write out
d_temp.to_csv(path0+"dengue_dates.csv")